.side-bar-container{
    width: 440px;
    height: 100vh;

    background: #1F1F24;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B1A20;
    width: 100%;
    height: 118px;
}
.prompt-history-container{
    background: #2B2B32;
    display: flex;
    justify-content: center;
    height: 480px;
    
    overflow-y: scroll;
    gap: 50px;
}
.mode-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
label{
    font-size: 28px;
    color: white
}