img {
  user-select: none;
}

.btn {
  user-select: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 23px;
}
.btn:hover {
  transform: translateY(-2px);
}

.btn-style-2 {
  font-weight: 700;

  background: var(--button-color);
  border: solid black 2px;

  color: white;
  border-radius: 17px;
}
.btn-style-3 {
  font-weight: 700;
  background: var(--button-select-color);
  border: solid white 2px;

  color: white;
  border-radius: 10px;
}
.btn-style-4 {
  font-weight: 700;
  background: rgb(252, 70, 70);
  border: solid white 2px;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
.btn-style-5 {
  font-weight: 700;
  background: transparent;
  padding: 10px;
  border: solid white 2px;

  color: white;
  border-radius: 10px;
}

.left-icon {
  position: absolute;
  left: 20px;
}
.right-icon {
  position: absolute;
  right: 20px;
  color: #202026;
}
.animation-popup {
  animation: itempopup 0.2s ease-in-out 0s 1;
}
.right-icon {
  transition: 0.2s ease;
  border-radius: 100px;
}
.right-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}
@keyframes itempopup {
  0% {
    opacity: 0.2;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 1000px) {
  .btn {
    font-size: 20px;
  }
  .left-icon {
    width: 22px;
    height: 22px;
  }
  .right-icon {
    width: 22px;
    height: 22px;
  }
}
