img {
  user-select: none;
}

.btn {
  user-select: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn:hover {
  transform: translateY(-2px);
}

/* .btn-style-1 {
  font-weight: 700;
  background: rgb(142, 170, 255);
  background: radial-gradient(
    circle,
    rgba(142, 170, 255, 1) 0%,
    rgba(95, 171, 255, 1) 100%
  );

  color: white;
  border: none;
  border-radius: 20px;
} */

.btn-style-2 {
  font-weight: 700;
  font-size: 23px;
  background: var(--button-color);
  border: solid black 2px;

  color: white;
  border-radius: 17px;
}
.btn-style-3 {
  font-weight: 700;
  font-size: 23px;
  background: var(--button-select-color);
  border: solid white 2px;

  color: white;
  border-radius: 10px;
}

.left-icon {
  position: absolute;
  left: 20px;
}
.right-icon {
  position: absolute;
  right: 20px;
  color: #202026;
}
