.prompt-tool-container {
  padding-left: 50px;
  padding-top: 50px;
  height: fit-content;
  width: fit-content;

  margin: 0;
}
.prompt-tool-main-container {
  border-radius: 30px;
  width: 100%;
  height: fit-content;
  /* overflow-x: hidden; */
  /* background: var(--primary-background); */
  display: flex;

  gap: 20px;
}

.title-container {
  width: 500px;
  
}
.center {
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  width: 400px;
  justify-content: center;
}
.output-types-container {
  border: solid black 2px;
  padding: 20px;
}
.output-text-container {
  word-wrap: break-word;
  max-width: 300px;
  height: fit-content;
}
.prompt-tool-main-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;

  gap: 20px;
  background: var(--primary-background);
}
.right-generate-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  padding: 20px;
  gap: 20px;
  background: var(--primary-background);
}
.big-title {
  text-align: left;
  font-size: 40px;
}

.prompt-title-container img {
  cursor: pointer;
  color: white;

}
.loading-text {
  background: var(--background-gray);
}
.hide-bar {
  position: absolute;
  left: 0px;
  height: 100px;
  z-index: 0;
  width: 600px;
  background: var(--primary-background);
}
.image-container {
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background: var(--secondary-background);
}
.generated-image {
  width: 500px;
  height: 500px;
}
.prompt-title-container {
  margin-left: 35px;
  width: 800px;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  z-index: 1;
  justify-content: space-around;
  border-right: solid 13px var(--background);
}

.prompt-tool-top-container {
  background: var(--background-gray);
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  
}
@media screen and (max-width:1366px){
 
  
  .mobileLogo {
    width: 200px;
  }
}


@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/

  .prompt-title-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .logo-container {
    width: 100%;
    justify-content: center;

  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .mobileLogo {
    width: 150px;
  }

}
