.prompt-tool-container {
  padding: 50px;
  height: 900px;
}
.prompt-tool-main-container {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: var(--light-blue);
  display: flex;
  justify-content: space-around;
}
.prompt-tool-top-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
}
.output-types-container {
  border: solid black 2px;
  padding: 20px;
}
.output-text-container {
  word-wrap: break-word;
  max-width: 300px;
  height: fit-content;
}
