.user-card-container {
  cursor: pointer;
  position: relative;
  background: var(--button-select-color);
  width: 250px;
  padding: 10px;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s ease;
}
.user-card-container:hover {
  transform: scale(1.02);
}
