.popupContentStyle {
    position: relative;
    background: var(--primary-gray);
    padding: 35px;
    border-radius: 30px;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 11;
}
.popupButtonContainer{
    gap: 10px;

    display: flex;
    flex-direction: row;
}
