.popupContentStyle {
    position: relative;
    background: #43434E;
    border-radius: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 335px;
    gap:30px;
    width: 663px;
    flex-direction: column;
}
.popupButtonContainer{
    gap: 50px;
    display: flex;
    flex-direction: row;
}
