.upgrade-container {
  border: solid var(--button-select-color) 5px;
  border-radius: 10px;

  padding: 10px;

  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 370px;

  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-upgrade {
  display: flex;
  flex-direction: column;
}
.left-upgrade span{
  font-size: 15px;
  height: 25px;
  font-weight: 500;
  align-items: center;
}
.upgrade-btn {
  width: 144px;
  height: 39px;
  border-radius: 10px;
  color: white;
  background: var(--button-select-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.1s ease;
  cursor: pointer;
}

.upgrade-btn:hover {
  transform: scale(1.03);
}

.words-left-bar-container {
  width: 230px;
  height: 15px;
  padding: 4px;
  border-radius: 10px;
  background: #37374f;
  display: flex;
  align-items: center;
  align-items: center;
}
.words-left-bar {
  border-radius: 10px;
  /* width: 200px; */
  max-width: 100%;
  height: 92%;
  background: var(--button-select-color);
}
