textarea {
  resize: none;
}
.input-style-1 {
  padding: 6px;
  outline: none;
  border-radius: 10px;
  resize: none;
  background: var(--secondary-background);
  color: #949494;
  /* font-size: 15px; */
}
.loading-text {
}
