.admin-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.admin-tools-container {
  background: var(--primary-gray);
  padding: 50px;
  border-radius: 40px;
  min-height: 500px;
  width: 1000px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-tools-container label {
  font-size: 20px;
}
.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 5px;
}
.user-container {
  position: relative;
  width: fit-content;
  height: 600px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-template-rows: repeat(2, 1fr);

  grid-gap: 20px;
}
.bottom-gradient-admin {
  position: absolute;
  bottom: 0;
  width: 98.7%;
  height: 50px;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  user-select: none;
}
.user-main-container {
  position: relative;
}
.info-container {
  background: var(--primary-gray);
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.info-elements {
  width: 250px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-elements h4 {
  color: white;
  text-align: center;
}
select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}
