.admin-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.admin-tools-container {
  background: var(--primary-gray);
  padding: 50px;
  border-radius: 40px;
  height: 500px;
  width: 1000px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-tools-container label {
  font-size: 20px;
}
.search-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}
