.upgrade-container {
  border: solid var(--button-select-color) 5px;
  border-radius: 10px;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}
.left-upgrade {
  display: flex;
  flex-direction: column;
}
.upgrade {
  width: 192px;
  height: 52px;
  border-radius: 10px;
  color: white;
  background: var(--button-select-color);
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.words-left-bar-container {
  width: 230px;
  height: 15px;
  padding: 4px;
  border-radius: 10px;
  background: #37374f;
  display: flex;
  align-items: center;
  align-items: center;
}
.words-left-bar {
  border-radius: 10px;
  /* width: 200px; */
  max-width: 100%;
  height: 92%;
  background: var(--button-select-color);
}
