.prompt-tool-main-container {
  width: 800px;
  height: fit-content;

  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}
.output-types-container {
  border: solid black 2px;
  padding: 20px;
}
.output-text-container {
  word-wrap: break-word;
  max-width: 300px;
  height: fit-content;
}
