@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-gray: #1f1f24;
  --dark-gray: #1b1a20;
  --light-gray: #202026;

  --button-color: #777777;
  --button-select-color: #605c9d;

  --light-blue: #605c9d;
  --dark-blue: #262636;

  --primary-background: #43424F;
  --background: #50505B;

  --secondary-background: #32333B;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  background: var(--background);
  display: flex;
}
::-webkit-scrollbar-track {
  z-index: 10;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #3A3A40;
}

::-webkit-scrollbar {
  z-index: 10;
  width: 12px;
  background-color: #3A3A40;
}

::-webkit-scrollbar-thumb {
  z-index: 10;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #46464B;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
