@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

#root {
  background: rgb(242, 242, 242);
  background: linear-gradient(
    203deg,
    rgba(242, 242, 242, 1) 20%,
    rgba(242, 242, 242, 1) 42%,
    rgba(146, 200, 78, 1) 100%
  );
}

/* #root {
  background: rgb(242, 242, 242);
  background: linear-gradient(
    40deg,
    rgba(242, 242, 242, 1) 20%,
    rgba(242, 242, 242, 1) 69%,
    rgba(190, 255, 118, 1) 88%,
    rgba(140, 255, 113, 1) 100%
  );
} */
